*.o
*.la
*.lo
*.so
*.so.*
#*
.#*
*~
*.pc
*.tar.*
core
core.*
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.sub
config.status
configure
depcomp
libtool
ltmain.sh
Makefile.in
Makefile
missing
stamp-h1
test-driver
test
.deps
.libs
.vscode
.dirstamp
ABOUT-NLS
tmp
m4
